<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>

  <%
    # In our real-world application, this is not what we want. Instead, we should
    # be checking to see if there is currently a user logged-in, and if there is,
    # we should show her a form that will allow her to send a tweet. If there is no
    # user logged-in, we should show the sign-in button.
  %>
  <% if @user %>
    <div>
      <p><form id='tweetSubmit' action="/" method='post'>
        <input type="hidden" name='user' value="<%=@user.id%>">
        <label for="tweetText">Tweet something</label>
        <input name='tweetText' type="text" value="<%= @fake_tweet %>">
        <label for="time"> in </label>
        <input type="text" name='time' placeholder='0'>
        seconds. <br>
        <input type="submit" value='submit'>
      </form></p>
      <img src="/original.gif" width="200">
      <p>
        <a href="/sign_out">Sign Out</a>
      </p>
    </div>
  <% else %>
    <form action="/sign_in" method="get">
      <button type="submit">Sign In with Twitter</button>
    </form>
  <% end %>
  
</div>
